*,
*:before,
*:after {
  box-sizing: content-box;
}

body {
  /*height: 20vh;*/
  /*width: 20vw;*/
  background: linear-gradient(45deg, white, whitesmoke);
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

.brochure {
  display: flex;
  justify-content: center;
  height: 270px;
  width: 1000px;
  position: absolute;
  left: 200px;
  right: 0;
  bottom: 400px;
  margin: auto;
  perspective: 1700px;
}

.brochure__pages {
  position: relative;
  width: calc(100% / 4);
  height:270px;
}
.brochure__pages--page1 {
  transform: rotateY(-33deg);
  background-image: linear-gradient(to right top, teal 0%, black 78%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  z-index: 10;
}
.brochure__pages--page1 .page1-logo {
  position: relative;
  margin: 30px 0 0 20px;
  width: 35px;
  height: 35px;
  border: 8px solid #191919;
}
.brochure__pages--page1 .page1-logo:after {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  right: -8px;
  width: 8px;
  height: 22px;
  background-color: #CFCDC3;
}
.brochure__pages--page1 .page1-logo:before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: -15px;
  width: 22px;
  height: 8px;
  background-color: #CFCDC3;
}
.brochure__pages--page1 .page1-heading {
  margin: 15px 0 0 20px;
  text-transform: uppercase;
  color: #afafaf;
  font-size: 14px;
}
.brochure__pages--page1 .page1-text {
  margin: 3px 20px;
  text-transform: uppercase;
  color: #afafaf;
  font-size: 8px;
}
.brochure__pages--page1 .page1-footer {
  margin: 125px 0 0 20px;
  text-transform: uppercase;
  color: #afafaf;
  font-size: 8px;
}
.brochure__pages--page2 {
  transform: rotateY(35deg);
  left: -4.2%;
  background-image: linear-gradient(to top, #F8EBE3 0%, #FFFFFF 100%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);

}

.brochure__pages--page2 .page2-heading {
  margin: 11px 0 0 19px;
  text-transform: uppercase;
  color: orange;
  font-size: 14px;
}
.orientation{
  column-count: 2;
  text-align:justify;
  margin:4px 16px 0px 19px;
}
p{
  font-size: 10px;
  margin:4px 0px 0px 2px;

}
h3{
  font-size: 11px;
  color:teal;
  margin:4px 0px 0px 2px;

}
.grid {
  display: grid;
  width:214px;
  height: 80px;
  grid-template-rows:
          repeat(4, 5fr);
  grid-template-columns:
          repeat(3, 3fr);
  grid-gap: 5px;
  position:absolute;
  left:23%;
  bottom:5%;
  transform: rotateY(35deg);
}

.item:nth-child(1) {
  grid-row: 1 / 4;
}

.item:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

.item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.item:nth-child(5) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.grid > .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.brochure__pages--page3 {
  /*background-color: #f3f1e5;*/
  background-color:lightgoldenrodyellow;
  left: -9.6%;
  transform: rotateY(-42deg);
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  overflow: hidden;
}
.brochure__pages--page3:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}
.rotation{
  column-count: 2;
  text-align:justify;
  margin:4px 16px 0px 19px;
  transform: rotateY(-9deg);

}
.brochure__pages--page3 .flex{
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-flow: row nowrap;
  width:224px;
  height: 68px;
  position:absolute;
  left:6%;
  bottom:11%;
  z-index: 3;
  transform: rotateY(-9deg);
}
.item1 {
  background: snow;
  width: calc(100% / 3);
  height: 100%;
  padding: 1%;
  margin:5px;

}
h6{
  font-size: 7px;
  text-align: left;
}
.brochure__pages--page4 {
  left: -15%;
  transform: rotateY(36deg);
  background-image: linear-gradient(to right top, black 18%, teal 65%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  overflow: initial;
  z-index: 3;

}
.brochure__pages--page4 .page4-heading {
  margin: 20px 0 0 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 7px;
}
.brochure__pages--page4 .page4-text {
  margin: 20px 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 4px;
}
.brochure__pages--page4 .page4-text-footer {
  margin: 5px 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 4px;
}
.brochure__pages--page4  .page4-logo {
  position: relative;
  margin: 135px 0 0 20px;
  width: 10px;
  height: 10px;
  border: 3px solid #191919;
}
.brochure__pages--page4  .page4-logo:after {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  right: -3px;
  width: 3px;
  height: 9px;
  background-color: #fff;
}
.brochure__pages--page4  .page4-logo:before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  right: -7px;
  width: 11px;
  height: 3px;
  background-color: #fff;
}

